.dropdown-container {
  position: absolute;
  right: 0;
  margin-right: 20px;
  z-index: 999;
  display: none;
}

.dropdown {
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-weight: bold;
  border-radius: 0 0 12px 12px;
  width: 150px;
  height: 150px;
  padding: 0 20px;
  font-size: 14px;
}

.edit,
.courier,
.share {
  border-bottom: 2px solid rgb(172, 168, 168);
  margin-bottom: 2px;
}

.remove {
  border-bottom: 2px solid rgb(172, 168, 168);
  margin-bottom: 2px;
  color: rgb(218, 10, 10);
}

.show-dropdown {
  display: block;
}
